@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.image {
  display: block;
}

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-container {
    flex: 1;
  }
  .image-resize-two {
    width:100%;
    height:100%;
    aspect-ratio: 1 / 1;
  }
  .image {
    display:none
  }
  .image-resize {
    display: none;
  }
}
@media (max-width: 960px) {
  .header {
    grid-template-columns: repeat(1, 2fr);
  }
  .image-container {
    flex: 1;
  }
  .image-resize {
    display:none
    
  }
  .image {
    width:100%;
    height:100%;
  }
  .image-resize-two {
    display: none;
  }
}
